/* entire web page formatting */
html {
  scroll-behavior: smooth;
  /* background-image: linear-gradient(to bottom right,rgb(139, 212, 255), rgb(77, 255, 77)); */
}
#root, body{
  margin: auto;
  padding: auto;
}


/* header section */
header {
  font-size: 4ch;
  background-image: linear-gradient(to bottom right,rgb(139, 212, 255), rgb(188, 255, 188));
  size: 50px auto;
  border: 2px solid rgb(8, 3, 3);
}
/* posts-new section */
#posts-new {
  padding-top: 5em;
}

label {
  padding-right: 20px;
  text-align: start;
}

input {
  border-radius: 10px;
  margin:10px 0;
}

#title {
  padding: 5px 30px;
}
/* button hover */
#post-submit {
  font-size: 120%;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: rgb(200, 255, 200);
  transition-duration: .5s;
}
#post-submit:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(128, 255, 128);
  
}
/* posts index section */
#posts-index {
  padding-top: 5em;
}

#posts-index img {
  width: 300px;
  border-radius: 30px;
}

#posts-index p, h2 {
  text-align: left;
  margin-left: 250px;
  padding-bottom: 30px;
}

h2 {
  padding-bottom: 10px;
}
/* footer section */
footer {
  padding-top: 80px;
}