/* entire web page formatting */
html {
  scroll-behavior: smooth;
  /* background-image: linear-gradient(to bottom right,rgb(139, 212, 255), rgb(77, 255, 77)); */
}
#root, body{
  margin: auto;
  padding: 0;
}


/* header section */
header {
  padding: 100% auto;
  font-size: 4ch;
  background-color: rgb(161, 161, 161);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
header a {
  text-decoration: none;
  color: white;

}
/* posts-new section */
#posts-new {
  padding-top: 5em;
}

label {
  padding-right: 20px;
  text-align: start;
}

input {
  border-radius: 10px;
  margin:10px 0;
}

#title {
  padding: 5px 30px;
}
/* button hover */
button {
  font-size: 120%;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: rgb(200, 255, 200);
  transition-duration: .5s;
}
button:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(128, 255, 128);
  
}
/* posts index section */
#posts-index {
  padding-top: 5em;
}

#posts-index img {
  width: 300px;
  border-radius: 30px;
  margin-bottom: 80px;
}

#posts-index p, h2 {
  margin: auto 200px;
  padding-bottom: 30px;
}
#posts-index button {
  display: flex;
}

h2 {
  padding-bottom: 10px;
}
/* footer section */
footer {
  padding-top: 80px;
}